@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reforged, Refined, and Remade</h1>
    <p class="lead">Greetings Friends, <br />Welcome to Saudade Reforged. This is V.2 of our Journal application. It comes with many new features that are even more user friendly.</p>
</div>